.formulaire {
    font-weight: bold;
    grid-area: f;
    padding: 10px;
    background-color: white;
    opacity: 92%;
}

.tableContainer {
    grid-area: tc;
}

#bonjour {
  grid-area: bj;
  font-weight: bold;
  font-size: 20px;
}

.deco {
  max-width: 100px;
  max-height: 20px;
  grid-area: dc;
}

.topShop {
    grid-area: ts;
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr 1fr 0.5fr;
    grid-template-areas:
        " bj dc i t .";
}

#cartIcon {
    grid-area: i;
}

#cartText {
    grid-area: t;
    font-weight: bold;
}

.articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    grid-area: tc;
}

.article {
    flex-shrink: 1;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-color: #1b1e21;
    padding: 10px;
    margin: 8px
}

.bodyHome {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            " t t t t "
            " . f f . "
            " . f f . "
            " . f f . "
            " . f f . "
            " . f f . ";
}

.empty {
    grid-area: e;
}

.bodyShop {
    display: grid;
    grid-template-areas:
        " ts ts ts"
        " dc dc dc"
        " tc tc tc";
}

body {
    font-family: Verdana;
    font-size: 14px;
    background-color: brown;
}

button {
    background-color: white;
}

h2 {
    text-align: center;
    color : white;
    font-size: 42px;
}

#local-option, .dropdown, input {
    text-align-all: right;
}

.bandeau {
    background-color: maroon;
    grid-area: t;
    height: 140px;
}

.tip {
    color: darkred;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}

@media (max-width: 640px) {
    body {
    }
    .bodyHome {
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 4fr;
        grid-template-areas:
                "t"
                "."
                "f"
                "f"
                "f"
                "."
                ".";
    }
    .bodyShop {
    }
    #local-option, .dropdown{
        font-size: 12px;
    }
    h2 {
        font-size: 26px;
    }
    .topShop {
        grid-template-columns: 0.5fr 0.5fr 0.5fr 2fr 1fr;
        grid-template-areas:
                " . . i t .";
    }
    .article {
        margin: 0px;
        transform: scale(0.7, 0.7);
        padding: 0px;
    }
}

/* STYLES POUR LA LISTE DE LOCALITÉS */

.autocomplete {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
